### BEGIN WordPress Project Ignores ####
# Ignore WordPress
/wp-admin/
/wp-content/*
/wp-includes/
/index.php
/license.txt
/wp-*.php
/readme.html
/.htaccess
/xmlrpc.php

# Ignore all plugins
!/wp-content/mu-plugins/
!/wp-content/plugins/
/wp-content/plugins/*

# Ignore all themes
!/wp-content/themes/
/wp-content/themes/*

# Plugins Keep

# Themes Keep

### END WordPress Project Ignores ####
